*.DS_Store
*.vscode
/ImportanceFactorHighRes.jpg
/ImportanceFactorPieHighRes.jpeg
/StatesByADHighRes.jpeg
/TunedCovarMatrixHighRes.jpg
/deep_net.py
/deep_net_model.pt
/graph.dot
/graph_out.png
/graph_out.svg
/model.safetensors
/original_model_matrix.png
/output.png
/random_forrest_with_oral_health.dot
/random_forrest_with_oral_health.svg
/random_forrest_without_oral_health.dot
/random_forrest_without_oral_health.svg
/sandbox.py
*__pycache__
venv

storage/data_20240725.csv
storage/data_20240725.pickle
storage/deep_net.py
storage/model_data.pickle
storage/model.pickle

*.svg